@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@400;500;600;700;800;900&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #27205A;
  color: #e2e8f0;
}

.bg-gradient {
  background: linear-gradient(135deg, #c084fc, #38bdf8);
}

.bg-gradient-2 {
  background: linear-gradient(135deg, #4A6F80, #3C5C6C);
}

.text-gradient {
  background: linear-gradient(135deg, #c084fc, #38bdf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.btn {
  @apply px-6 py-3 rounded-full font-semibold transition duration-300 transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-background focus:ring-primary;
}

.btn-primary {
  @apply bg-button-primary text-white hover:bg-button-hover;
}

.btn-secondary {
  @apply bg-secondary text-white hover:bg-secondary-dark;
}

.section-title {
  @apply text-4xl font-bold mb-8 text-white;
}

.logo-gradient {
  background: linear-gradient(135deg, #38bdf8, #c084fc); /* Adjust colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}